html,
body,
* {
  margin: 0;
  padding: 0;
  /* font-size: 16px; */
  box-sizing: border-box;
  font-family: "Pokemon Fire Red", sans-serif;
}
.none {
  display: none !important;
}
.lowOpacity {
  opacity: 0;
}
.black_screen {
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  z-index: 100;
}
.opening_block {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: rgb(230, 252, 252);
}
.opening_block_bg {
  position: absolute;
  bottom: 10%;
  width: 25%;
}
.opening_block_img {
  width: 20%;
  height: auto;
  z-index: 10;
}
.opening_text_block {
  background-color: #283030;
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.opening_text_block_layer {
  width: 98%;
  height: 17.5vh;
  padding-left: 2rem;
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  border: 1rem solid #84afa3;
  border-radius: 1rem;
  font-size: 3.5rem;
  font-weight: normal;
}

.pokedex_block {
  position: absolute;
  z-index: 10;
  width: 45%;
  border: 0.5rem solid #283030;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 1rem;
  margin-left: 2rem;
  margin-top: 10%;
  background-color: #f9f9f9;
  font-size: 2rem;
}
.pokeBox_block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  background-image: url(./images/largebackground.png);
  background-size: fit;
}
.pokeBox_pokemon_header_block {
  width: 55%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  background-color: #e8e8e8;
  border: 0.5rem solid #908058;
  font-size: 3rem;
}
.pokeBox_pokemon_block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 75%;
  height: auto;
  background-color: #f8f8f8;
  border: 0.5rem solid #908058;
  border-radius: 0.5rem;
}
.pokeBox_pokemon_block_img {
  width: 10%;
  transition: 0.2s ease-in-out;
}

.pokeBox_pokemon_block_img:hover {
  opacity: 0.5;
}
.landing_block_img {
  width: 50vw;
}

.battle_block {
  /* background-image: url("battlebackground.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; */
  width: 100%;
  height: 100vh;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.battle_block_content_backgroundImg {
  position: absolute;
  width: 100%;
  height: 100%;
}
.slideRL {
  animation: slideInRL 2.5s;
}
.slideLR {
  animation: slideInLR 2.5s;
}
.battle_block_img {
  height: 50vh;
  width: auto;
  position: absolute;
  left: 75%;
  top: 34%;
  /* left: -50%;*/
  /* filter: grayscale(1); */
  transform: translate(-50%, -50%);
}
@keyframes slideInLR {
  0% {
    left: 0%;
    filter: grayscale(0.8);
  }
  80% {
    filter: grayscale(0.8);
  }
  100% {
    left: 75%;
    filter: grayscale(0);
  }
}
.slideLRBackground {
  animation: slideInLRBg 2.5s;
}
@keyframes slideInLRBg {
  0% {
    left: -75%;
  }
  100% {
    left: 0%;
  }
}
.battle_block_content {
  height: 80vh;
  width: 100%;
  position: relative;
}

.battle_block_content_img {
  width: 100%;
  height: 100%;
  z-index: 3;
}
.battle_block_content_charImg {
  width: 25%;
  margin-left: 5%;
  height: auto;
  position: absolute;
  bottom: 0%;
  z-index: 5;
  transition: 0.2s linear;
  /* left: 150%; */
}
@keyframes slideInRL {
  0% {
    left: 65%;
  }
  100% {
    left: 0%;
  }
}

.battle_block_text {
  background-color: #283030;
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.battle_block_text_layer {
  padding: 1rem 2rem 1rem 2rem;
  width: 98%;
  height: 17.5vh;
  background-color: #f9f9f9;
  border-radius: 1rem;
  font-size: 3.5rem;
  border: 1rem solid orange;
}
.battle_block_choice_layer {
  /* padding: 1rem 2rem 1rem 2rem; */
  width: 98%;
  height: 17.5vh;
  background-color: #f9f9f9;
  border: 1rem solid #7c79b0;
  border-radius: 1rem;
}
.battle_block_choice {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: space-evenly;
  align-items: center;
  right: 0;
  width: 40%;
  height: 20vh;
  background-color: #283030;
  border-radius: 0.2rem;
  border: 0.5rem solid #283030;
}
.battle_block_choice_button_block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.battle_block_choice_button {
  font-size: 4rem;
  width: 40%;
  background: none;
  border: none;
}
.battle_block_choice_button:hover {
  opacity: 0.5;
}

/* 285068 */

@media screen and (max-width: 1366px) {
  html,
  body,
  * {
    font-size: 12px;
  }
}
@media screen and (max-width: 1024px) {
  html,
  body,
  * {
    font-size: 8px;
  }
}
