html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pokemon Fire Red", sans-serif;
}

.pokeBox_block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  background-image: url(./images/largebackground.png);
  background-size: fit;
}
.pokeBox_pokemon_header_block {
  width: 50%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  background-color: #e8e8e8;
  border: 0.5rem solid #908058;
  font-size: 3rem;
}
.pokeBox_pokemon_block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 70%;
  height: auto;
  background-color: #f8f8f8;
  border: 0.5rem solid #908058;
  border-radius: 0.5rem;
}
.pokeBox_pokemon_block_img {
  width: 10%;
  transition: 0.2s ease-in-out;
}

.pokeBox_pokemon_block_img:hover {
  opacity: 0.5;
}
.landing_block_img {
  width: 50vw;
}

.battle_block {
  /* background-image: url("battlebackground.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; */
  width: 100%;
  height: 100vh;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.battle_block_img {
  height: 50vh;
  width: auto;
  position: absolute;
  left: 75%;
  top: 34%;
  /* left: -50%;*/
  animation: slideInLR 2s;
  /* filter: grayscale(1); */
  transform: translate(-50%, -50%);
}
@keyframes slideInLR {
  0% {
    left: 0%;
    filter: grayscale(0.8);
  }
  80% {
    filter: grayscale(0.8);
  }
  100% {
    left: 75%;
    filter: grayscale(0);
  }
}
.battle_block_content {
  height: 80vh;
  width: 100%;
  position: relative;
}

.battle_block_content_img {
  width: 100%;
  height: 100%;
  z-index: 3;
}
.battle_block_content_charImg {
  width: 25%;
  margin-left: 5%;
  height: auto;
  position: absolute;
  bottom: 0%;
  z-index: 5;
  transition: 0.2s linear;
  /* left: 150%; */
  animation: slideInRL 2s;
}
@keyframes slideInRL {
  0% {
    left: 65%;
  }
  100% {
    left: 0%;
  }
}
.battle_block_text {
  background-color: #283030;
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.battle_block_text_layer {
  padding: 1rem 2rem 1rem 2rem;
  width: 98%;
  height: 17.5vh;
  background-color: #f9f9f9;
  border-radius: 1rem;
  font-size: 2rem;
}
.battle_block_choice {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: space-evenly;
  align-items: center;
  right: 0;
  width: 40%;
  height: 20vh;
  background-color: white;
  border-radius: 0.2rem;
  border: 0.5rem solid black;
}
.battle_block_choice_button_block {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
.battle_block_choice_button {
  font-size: 4rem;
  width: 25%;
  background: none;
  border: none;
}
.battle_block_choice_button:hover {
  opacity: 0.5;
}

/* 285068 */
