@font-face {
  font-family: 'pokemon_fire_red';
  src: url('pokemon_fire_red.eot');
  src: url('pokemon_fire_red.eot?#iefix') format('embedded-opentype'),
       url('pokemon_fire_red.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

